
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LAB1</title>
</head>
<body>
    <div style="display:inline">
        <h1>It is LAB 1 Today.</h1>
    </div>
    <span style="display:inline"><h2>Date:10-02-2017</h2></span>
</body>
</html>
